	<hr class="sidebar-divider">	
	<li class="nav-item active">
		<a class="nav-link" href="/usuario/centralUsuario"> <i class="fas fa-users-cog"></i>
			<span>Central Usuario</span>
		</a>
	</li>
	
	<hr class="sidebar-divider">
	<li class="nav-item active">
		<a class="nav-link" href="/vazio"> <i class="fas fa-address-card"></i> 
			<span>Menu Admin1</span>
		</a>
	</li>
	
	<hr class="sidebar-divider">	
	<li class="nav-item active">
		<a class="nav-link" href="/"> <i class="fas fa-fw fa-tachometer-alt"></i> 
			<span>Menu Admin2</span>
		</a>
	</li>
	
	<hr class="sidebar-divider">	
	<li class="nav-item active"><a class="nav-link" href="about">
			<i class="fas fa-fw fa-tachometer-alt"></i> <span>
			Menu Admin2
			</span>
	</a></li>
	
	<hr class="sidebar-divider">
	<li class="nav-item active"><a class="nav-link" href="contact">
			<i class="fas fa-fw fa-tachometer-alt"></i> <span>Menu Admin3</span>
	</a></li>


	